<div class="h-screen flex flex-col xl:flex-row">
  <ngx-spinner size="medium" type="ball-spin"></ngx-spinner>

  <div
    id="HomeMessage"
    class="bg-blue-500 h-3/4 w-screen flex flex-col justify-center items-center xl:h-screen xl:w-2/4"
  >
    <span
      class="text-white text-center mb-8 font-bold text-xl mt-28 ml-2 mr-2 xl:text-2xl"
    >
      Seja bem-vindo à sua carteira digital!
    </span>
    <span
      class="text-white text-center font-bold text-xl ml-2 mr-2 xl:text-2xl"
    >
      Aqui você compra em suas lojas favoritas e ganha na hora cashback em sua
      carteira!
    </span>
    <img
      class="mt-24 w-16 h-16"
      src="../assets/ico_wallet.png"
      alt="Logo de um carteira"
    />
  </div>
  <div
    id="Buttons"
    class="bg-slate-200 h-1/4 flex justify-center items-center flex-col xl:h-screen xl:w-2/4"
  >
    <button
      [routerLink]="['/signIn']"
      class="w-3/4 bg-white rounded-xl h-10 text-xl font-medium mb-6 xl:h-16 xl:font-normal xl:text-xl"
    >
      Já sou cadastrado
    </button>
    <button
      [routerLink]="['/signUp']"
      class="w-3/4 bg-yellow-500 rounded-xl text-xl font-semibold text-white h-10 xl:font-bold xl:text-xl xl:h-16"
    >
      Quero me cadastrar
    </button>
  </div>
</div>
