<div class="flex items-center">
  <div class="flex-none font-semibold mr-4 md:ml-8">Acumulado R$</div>
  <div class="shrink font-extrabold w-32 md:w-64">
    {{ getBalance() }}
  </div>
  <div class="flex-none">
    <button class="text-sm p-1 text-gray-800 mr-4" (click)="setIsVisible()">
      <fa-icon
        *ngIf="!balanceIsVisible"
        class="ml-1 mr-1 h-5 w-5"
        [icon]="faEye"
      ></fa-icon>
      <fa-icon
        *ngIf="balanceIsVisible"
        class="ml-1 mr-1 h-5 w-5"
        [icon]="faEyeSlash"
      ></fa-icon>
    </button>
  </div>
</div>
