<nav class="flex items-center justify-between flex-wrap bg-blue-500 p-6">
  <div class="flex items-center flex-shrink-0 text-white mr-6">
    <img
      class="h-8 w-8"
      src="../assets/ico_wallet.png"
      alt="Logo de um carteira"
    />
  </div>
  <div class="block">
    <button
      class="bg-yellow-500 inline-flex items-center justify-center p-2 rounded-md text-black hover:text-white hover:bg-yellow-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-yellow-800 focus:ring-white"
      (click)="signOut()"
    >
      Sair
    </button>
  </div>
</nav>
