<div class="flex items-center">
  <div class="flex-none font-semibold mr-8">Acumulado R$</div>
  <div class="flex-1 w-64 font-extrabold">{{ getBalance() }}</div>
  <div class="flex-1 w-32">
    <button class="text-sm p-1 text-gray-800 mr-4" (click)="setIsVisible()">
      <fa-icon
        *ngIf="!balanceIsVisible"
        class="ml-1 mr-1 h-5 w-5"
        [icon]="faEye"
      ></fa-icon>
      <fa-icon
        *ngIf="balanceIsVisible"
        class="ml-1 mr-1 h-5 w-5"
        [icon]="faEyeSlash"
      ></fa-icon>
    </button>
  </div>
</div>
