<div class="bg-gray-200 flex flex-col xl:flex-row-reverse xl:items-center">
  <div id="logo" class="flex justify-center content-center xl:flex xl:visible">
    <img
      class="xl:visible w-36 h-36 mt-8 rounded-full xl:w-screen xl:h-screen xl:rounded-none xl:mt-0 xl:shadow-2xl"
      src="../../assets/login.jpg"
      alt="Logo da carteira"
    />
  </div>
  <div id="form" class="w-screen flex flex-col justify-center content-center">
    <form
      [formGroup]="signUpForm"
      (ngSubmit)="onSubmit()"
      #formDir="ngForm"
      class="flex flex-col justify-center items-center space-y-10 xl:space-y-15 xl:w-full mb-10 h-full"
    >
      <div class="flex flex-col justify-center items-center w-screen xl:w-full">
        <input
          class="w-3/4 h-8 bg-transparent rounded-none border-b-2 border-zinc-700 focus:outline-none placeholder:font-semibold placeholder:text-zinc-600"
          type="text"
          formControlName="name"
          placeholder="Nome"
        />

        <div
          *ngIf="name.invalid && formDir.submitted"
          class="flex w-3/4 border-l-4 border-red-500 mt-1"
        >
          <div
            *ngIf="name.errors?.['required']"
            class="self-start w-3/4 text-red-500 pl-2"
          >
            Nome é obrigatório
          </div>
        </div>
      </div>
      <div class="flex flex-col justify-center items-center w-screen xl:w-full">
        <input
          class="w-3/4 h-8 bg-transparent rounded-none border-b-2 border-zinc-700 focus:outline-none placeholder:font-semibold placeholder:text-zinc-600"
          type="text"
          formControlName="email"
          placeholder="Email"
        />

        <div
          *ngIf="email.invalid && formDir.submitted"
          class="flex w-3/4 border-l-4 border-red-500 mt-1"
        >
          <div
            *ngIf="email.errors?.['required']"
            class="self-start w-3/4 text-red-500 pl-2"
          >
            E-mail é obrigatório
          </div>
          <div
            *ngIf="email.errors?.['email']"
            class="self-start w-3/4 text-red-500 pl-2"
          >
            E-mail inválido
          </div>
        </div>
      </div>
      <div class="flex flex-col justify-center items-center w-screen xl:w-full">
        <input
          class="w-3/4 h-8 bg-transparent rounded-none border-b-2 border-zinc-700 focus:outline-none placeholder:font-semibold placeholder:text-zinc-600"
          type="text"
          placeholder="Data de nascimento"
          formControlName="birthDate"
          mask="d0/M0/0000"
        />
      </div>
      <div class="flex flex-col justify-center items-center w-screen xl:w-full">
        <input
          class="w-3/4 h-8 bg-transparent rounded-none border-b-2 border-zinc-700 focus:outline-none placeholder:font-semibold placeholder:text-zinc-600"
          type="text"
          formControlName="cpf"
          placeholder="CPF"
          mask="000.000.000-00"
        />
      </div>
      <div class="flex flex-col justify-center items-center w-screen xl:w-full">
        <input
          class="w-3/4 h-8 bg-transparent rounded-none border-b-2 border-zinc-700 focus:outline-none placeholder:font-semibold placeholder:text-zinc-600"
          type="number"
          formControlName="cellphone"
          placeholder="Celular"
        />
      </div>
      <div class="flex flex-col justify-center items-center w-screen xl:w-full">
        <input
          class="w-3/4 h-8 bg-transparent rounded-none border-b-2 border-zinc-700 focus:outline-none placeholder:font-semibold placeholder:text-zinc-600"
          type="password"
          formControlName="password"
          placeholder="Senha"
        />
      </div>
      <app-alert-label
        *ngIf="!!msgError === true"
        [title]="'Oops, não foi possível conectar'"
        [subtitle]="msgError"
      >
      </app-alert-label>
      <button
        type="submit"
        class="bg-blue-500 w-3/4 mb-16 rounded-lg h-12 text-white font-bold text-xl xl:mb-0"
      >
        Cadastrar
      </button>
    </form>
  </div>
</div>
